.navbar {
    box-shadow: 0 20px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.nav-item >.nav-link:hover{
    box-shadow: 0 2px 4px 0 rgba(65, 64, 64, 0.24), 0 4px 8px 0 rgba(65,64,64,0.24);
    border-radius: 2px;
}
.navbar-brand{
    font-size: x-large;
}
.nav-link{
    padding-bottom: 0.15em;
    font-size: large;
}
.profile-icon {
    background-image: url('https://pics.freeicons.io/uploads/icons/png/13041701241579605654-512.png');
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;
}
.lime {
    background-image: url('https://pics.freeicons.io/uploads/icons/png/11346849841536062027-512.png');
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.pineapple {
    background-image: url('https://pics.freeicons.io/uploads/icons/png/1670416811536062038-512.png');
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.orange {
    background-image: url('https://pics.freeicons.io/uploads/icons/png/16592805281536062034-512.png');
    background-size: cover;
    display: inline-block;
    height: 30px;
    width: 30px;
    
}