<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Citrus Network</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-logged-in.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/citrus_home/findfriends.css' %}">
  </head>

  <body>
    {% include '../navbar-logged-in.html' %}
    <div class="container"> 
        <div class="row justify-content-center mt-1 mb-1">
            <div class="col-md-10 col-sm-12 position-relative" id = "card_parent" >
               <!--appending div elements here-->
            </div>
        </div>
    </div>
    
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <script>
        window.onload = getNonFollowers;

        function fetchJSON(url) {
            var request = new Request(url);
            return fetch(request).then((response) => {
                if (response.status === 200 || response.status == 404) { 
                    return response.json(); // return a Promise
                } else {
                    alert("Something went wrong: " + response.status);
                }
            });
        }

        /*** function to retrieve a list of people you may follow/ who have no accepted follow request**/
        var non_follower_info_dict = {}; 
        var local_host = "http://127.0.0.1:8000/"                                //id = 9d662ec4-deed-44d0-be6a-c45a590eabbd
        var citrus_network_swag_host = "http://citrusnetwork.herokuapp.com/"     //id = 9d662ec4-deed-44d0-be6a-c45a590eabbd
        var team_18_host = "https://cmput-404-socialdistribution.herokuapp.com/" //id = https://cmput-404-socialdistribution.herokuapp.com/author/3a21bf7563da414abd5c47a7b3d8ea ..... team_18_alternate_id: authorId = 3a21bf7563da414abd5c47a7b3d8eae2
        var team_3_host = "https://team3-socialdistribution.herokuapp.com/"      //id= 9d662ec4-deed-44d0-be6a-c45a590eabbd 
    
        function getNonFollowers() {
            var uuid = "{{uuid}}";
            var url = "/service/author/"  + uuid + "/nonfollowers/" 
            
            fetchJSON(url).then((json) => { 
                var user_id;
                try{
                    for (var i = 0; i < json.items.length; i++) { 
                        //creating a dictionary associating each id with its host to control for slight differences in each API
                        try{
                            if ("host" in json.items[i]){
                                if (json.items[i].host == citrus_network_swag_host || json.items[i].host == local_host){
                                    non_follower_info_dict[json.items[i].id] = json.items[i].host
                                    user_id = json.items[i].id
                                }else if (json.items[i].host == team_18_host){
                                    non_follower_info_dict[json.items[i].authorID] = json.items[i].host
                                    user_id = json.items[i].authorID
                                }else if (json.items[i].host == team_3_host){
                                    non_follower_info_dict[json.items[i].id] = json.items[i].host
                                    user_id = json.items[i].id
                                }else{
                                    console.log("host is not an accepted node: " + json.items[i].host)
                                }
                            }else{
                                console.log("host was not in json.items. Someone did not provide host in API")
                            }
                        }catch(err){
                            console.log(err)
                        }
                        let url = "{% url 'render_profile' %}" + user_id;
                        $("#card_parent") 
                        .append('<div class="card"><a class="card-link" href="' + url + '"><div class="card-header">'+
                                json.items[i].displayName+'</div></a><div class="card-body">'+
                                '<button id="'+user_id+'" onClick="followNonFollower(this)">Follow</button>'+
                                '</div></div>');
                    } 
                }catch(err){
                    console.log(err)
                        //if no list of people to follow - let user know they have followed everyone available
                        $("#card_parent") 
                        .append('<div class="card"><div class="card-header">You Have Followed Everyone Available!'+
                                '</div><div class="card-body"><br></div></div>');
                }

                console.log(non_follower_info_dict)
            });
        }

        /**function called when clicking on button "follow"**/
        function followNonFollower(button){
            var uuid = "{{uuid}}"; 

            if (non_follower_info_dict[button.id] == citrus_network_swag_host || non_follower_info_dict[button.id] == local_host){
                //make a PUT request to our followers API
                var local_follower_url = "/service/author/" + button.id + "/followers/" + uuid  + "/" 
                follow_citrus(local_follower_url).done(function(json) {
                    console.log("RESPONSE FROM CITRUS NETWORK")
                    console.log(json);
                    set_button_citrus(button)
                });
            
            }else if (non_follower_info_dict[button.id] == team_18_host){
                //call backend api to make a put request to team 18s inbox to follow them
                var be_follow_team_18_url = "/service/author/" + button.id + "/follow_remote_18/" + uuid + "/" + team_18_host
                fetchJSON(be_follow_team_18_url).then((json) =>{
                    console.log("RESPONSE FROM TEAM 18 API")
                    console.log(json)
                    set_button_18(button)
                });

            }else if (non_follower_info_dict[button.id] == team_3_host){
                //call backend api to make a post request to team 18s inbox to follow them
                var be_follow_team_3_url = "/service/author/" + button.id + "/follow_remote_3/" + uuid + "/" + team_3_host
                fetchJSON(be_follow_team_3_url).then((json) =>{
                    console.log("RESPONSE FROM TEAM 3 API")
                    console.log(json)
                    set_button_3(button)
                });
    
            }else{
                console.log("could not follow specified author")
            }
        }

  
        function set_button_3(button){
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "Followed someone on team 3!";
        }

        function set_button_18(button){
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "Followed someone on team 18 server!";
        }

        function set_button_citrus(button){
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "Followed on citrus network!";
        }

        //follow someone on the citrus network
        function follow_citrus(url){
            return $.ajax({
                url: url,
                type: 'PUT',
                contentType: "application/json",
                success: function(result) {
                    console.log(result)
                }
            })
        }

 
    </script>
  </body>
</html>
