<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Citrus Network</title>
  </head>

  <body>
    {% include '../navbar-logged-in.html' %}
    <div class="container"> 
        <div class="row justify-content-center mt-1 mb-1">
            <div class="col-md-10 col-sm-12 position-relative" id = "card_parent" >
               <!--appending div elements here-->
            </div>
        </div>
    </div>
    
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

    <script>
        window.onload = getNonFollowers;

        function fetchJSON(url) {
            var request = new Request(url);
            return fetch(request).then((response) => {
                if (response.status === 200 || response.status == 404) { 
                    return response.json(); // return a Promise
                } else {
                    alert("Something went wrong: " + response.status);
                }
            });
        }

        /*** function to retrieve a list of people you may follow/ who have no accepted follow request**/
        function getNonFollowers() {
            var uuid = "{{uuid}}";
            var url = "/service/author/"  + uuid + "/nonfollowers/" 
            fetchJSON(url).then((json) => { //another callback
                //try because json.items is not present in response where status code != 200
                try{
                    for (var i = 0; i < json.items.length; i++) { 
                        $("#card_parent") 
                        .append('<div class="card"><div class="card-header" id ="card_header">'+
                                json.items[i].displayName+'</div><div class="card-body" id="card_body">'+
                                '<button id="'+json.items[i].id+'" onClick="followNonFollower(this)">Follow</button>'+
                                '</div></div>');
                    } 
                }catch(err){
                        //if no list of people to follow - let user know they have followed everyone available
                        $("#card_parent") 
                        .append('<div class="card"><div class="card-header" id = "card_header">You Have Followed Everyone Available!'+
                                '</div><div class="card-body" id = "card_body"><br></div></div>');
                }
            });
        }

        /**function called when clicking on button "follow"**/
        function followNonFollower(button){
            var uuid = "{{uuid}}"; 
            var url = "/service/author/" + button.id + "/followers/" + uuid  + "/" // button.id is the author the current user is going to follow
            
            follow(url).done(function(response) {
                console.log(response);
            });

            //set elements after following
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "Followed!";
        }

        /**need error handling here - Leah march 5**/
        function follow(url){
            return $.ajax({
                url: url,
                type: 'PUT',
                contentType: "application/json",
                success: function(result) {
                    console.log(result)
                   
                }
            })
        }

        /**get pending friends requests - in PROGRESS
        function getPendingIds(){
            var uuid = "{{uuid}}" 
            var url = "/service/author/" + uuid + "/friends/"
            var friendsids = new Array();
            return fetchJSON(url).then((json) => {
                //try because json.items is not present in response where status code != 200
                try{
                    for (var i = 0; i < json.items.length; i++) { 
                    friendsids.push(json.items[i].id);
                        console.log(friendsids);
                    }
                    console.log(friendsids);
                    getFollowers(friendsids);
                }catch(err){
                    friendsids.push("0");
                    console.log(friendsids);
                    getFollowers(friendsids);
                }
            });
        }
        **/
    </script>
  </body>
</html>

<style>
    div.container{
        margin-top: 2em;
    }
    a.card-link {
        color: inherit;
        text-decoration: inherit;
    }
    button{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: #1fb141;
        border-color: rgb(7, 128, 7);
        color: white;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        font-size: large;
    }
    button:hover{
        box-shadow: 0 2px 4px 0 rgba(65, 64, 64, 0.24), 0 4px 8px 0 rgba(65,64,64,0.24);
        border-radius: 2px;
    }
    .card-header{
        font-size: x-large;
    }
</style>
