<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Citrus Network</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-logged-in.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/citrus_home/followers.css' %}">
  </head>

  <body>
    {% include '../navbar-logged-in.html' %}
    <div class="container"> 
        <div class="row justify-content-center mt-1 mb-1">
            <div class="col-md-10 col-sm-12 position-relative" id = "card_parent" >
               <!--appending div elements here-->
            </div>
        </div>
    </div>
    
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    

    <script>
        window.onload = getFriendsIds;
        
        function fetchJSON(url) {
            var request = new Request(url)
            return fetch(request).then((response) => {
                //leah - add more status codes/return json response no matter what
                if (response.status === 200 || response.status == 404) { 
                    return response.json(); // return a Promise
                } else {
                    alert("Something went wrong: " + response.status);
                }
            });
        }

        /* get a list of friends ids, to let user know you are already following them */
        function getFriendsIds(){
            var uuid = "{{uuid}}" 
            var url = "/service/author/" + uuid + "/friends/"
            var friendsids = new Array();
            return fetchJSON(url).then((json) => {
                //try because json.items is not present in response where status code != 200
                try{
                    for (var i = 0; i < json.items.length; i++) { 
                    friendsids.push(json.items[i].id);
                        console.log(friendsids);
                    }
                    console.log(friendsids);
                    getFollowers(friendsids);
                }catch(err){
                    friendsids.push("0");
                    console.log(friendsids);
                    getFollowers(friendsids);
                }
            });
        }
        
        /*** function to retrieve a list of people you may follow/ who have no accepted follow request**/
        var follower_info_dict = {}; 
        var local_host = "http://127.0.0.1:8000/"                                //id = 9d662ec4-deed-44d0-be6a-c45a590eabbd
        var citrus_network_swag_host = "http://citrusnetwork.herokuapp.com/"     //id = 9d662ec4-deed-44d0-be6a-c45a590eabbd
        var team_18_host = "https://cmput-404-socialdistribution.herokuapp.com/" //id = https://cmput-404-socialdistribution.herokuapp.com/author/3a21bf7563da414abd5c47a7b3d8ea ..... team_18_alternate_id: authorId = 3a21bf7563da414abd5c47a7b3d8eae2
        var team_3_host = "https://team3-socialdistribution.herokuapp.com/"      //id= 9d662ec4-deed-44d0-be6a-c45a590eabbd 
    

        /* function to get a list of people who are follow the user (friend requesting them) */
        function getFollowers(friendsids) {
            var uuid = "{{uuid}}";
            var url = "/service/author/" + uuid + "/followers/" 
           
            fetchJSON(url).then((json) => { // another callback
                var user_id;
                console.log(json)
                try{
                    for (var i = 0; i < json.items.length; i++) { 
                        let url = "{% url 'render_profile' %}" + json.items[i].id;
                        //true if a follower id is also present in friends ids - false otherwise
                        try{
                            if ("host" in json.items[i]){
                                console.log(json.items[i])
                                if (json.items[i].host == citrus_network_swag_host || json.items[i].host == local_host){
                                    follower_info_dict[json.items[i].id] = json.items[i].host
                                    user_id = json.items[i].id
                                }else if (json.items[i].host == team_18_host){
                                    follower_info_dict[json.items[i].authorID] = json.items[i].host
                                    user_id = json.items[i].authorID
                                }else if (json.items[i].host == team_3_host){
                                    follower_info_dict[json.items[i].id] = json.items[i].host
                                    user_id = json.items[i].id
                                }else{
                                    console.log("host was neither team18, team3  or citrus")
                                }
                            }else{
                                console.log("Host was not provided by someone")
                            }
                        }catch(err){
                            console.log(err)
                        }

                        console.log(follower_info_dict)

                        if (friendsids.includes(json.items[i].id)){
                            console.log(json.items[i]);
                            $("#card_parent") 
                                .append('<div class="card">'+
                                        '<a class="card-link" href="' + url + '"><div class="card-header" id = "card_header">' + 
                                        json.items[i].displayName+'</div></a>'+
                                        '<div class="card-body" id = "card_body">'+
                                        '<p id = "'+user_id+'">Already Following</p></div>'+
                                        '</div>'); 
                        }else{
                            $("#card_parent") 
                                .append('<div class="card">'+
                                        '<a class="card-link" href="' + url + '"><div class="card-header" id = "card_header">' + 
                                        json.items[i].displayName+'</div></a>'+
                                        '<div class="card-body" id = "card_body">'+
                                        '<button id = "'+user_id+'" onClick="followBack(this)">Add Friend</button></div>'+
                                        '</div>');
                            } 
                    } 
                }catch(err){
                        //if no one is requesting to be users friend
                        $("#card_parent") 
                        .append('<div class="card"><div class="card-header" id = "card_header">You Have No Friend Requests!'+
                                '</div><div class="card-body" id = "card_body"><br></div></div>');
                }
            });
        }

        /**function called when clicking on button "follow back" 
         * - follows back the user who is following you (becomes their friend)**/
        function followBack(button){
            var uuid = "{{uuid}}";

            if (follower_info_dict[button.id] == citrus_network_swag_host || follower_info_dict[button.id] == local_host){
                //make a put request to our friends table (well already be following each other)
                var url = "/service/author/" + button.id + "/followers/" + uuid + "/"
                AddFollowerBack(url).done(function(json) {
                    console.log("RESPONSE FROM PUT TO followers API")
                    console.log(json);
                    set_button_citrus(button)
                });
                

            } else if (follower_info_dict[button.id] == team_18_host){
                //call backend api to make a put request to team 18s inbox to follow them
                var be_follow_team_18_url = "/service/author/" + button.id + "/follow_remote_18/" + uuid + "/" + team_18_host
                fetchJSON(be_follow_team_18_url).then((json) =>{
                    console.log("RESPONSE FROM TEAM 18 API")
                    console.log(json)
                    set_button_18(button)

                    //then make a put request to our friends table because were following each other 
                    var friend = "/service/author/" + button.id + "/friends/" + uuid + "/"
                    AddFollowerBack(url).done(function(response) {
                        console.log("RESPONSE FROM PUT TO FRIENDS API")
                        console.log(response);
                        set_button_18(button)
                    });

                });

            }else if (follower_info_dict[button.id] == team_3_host){
                //call backend api to make a post request to team 18s inbox to follow them
                var be_follow_team_3_url = "/service/author/" + button.id + "/follow_remote_3/" + uuid + "/" + team_3_host
                fetchJSON(be_follow_team_3_url).then((json) =>{
                    console.log("RESPONSE FROM TEAM 3 API")
                    console.log(json)
                    set_button_3(button)

                    //make a put request to our friends table if we successfully followed them
                    var url = "/service/author/" + button.id + "/friends/" + uuid + "/"
                    AddFollowerBack(url).done(function(json) {
                        console.log("RESPONSE FROM PUT TO FRIENDS API")
                        console.log(json);
                        set_button_3(button)
                    });

                });

               
            }else{
                console.log("following back host that doesnt exist")
            }
        }
         
        function set_button_citrus(button){
            //set elements after following back*/
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "NOW YOU ARE FRIENDS with a citrus author! GOOD JOB";
        }

        function set_button_18(button){
            //set elements after following back*/
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "NOW YOU ARE FRIENDS with a team 18! GOOD JOB";
        }

        function set_button_3(button){
            //set elements after following back*/
            button.style.background = "transparent";
            button.style.color = "black";
            button.innerText = "NOW YOU ARE FRIENDS with someone on team 3! GOOD JOB";
        }

        
        //PUT request to our friends API
        function AddFollowerBack(url){
            return $.ajax({
                url: url,
                type: 'PUT',
                contentType: "application/json",
                success: function(result) {
                    console.log(result)
                }})
        }
    
    </script>
  </body>
</html>