<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mr-5" href="{% url 'home_url'%}">
            <em class="orange"></em>
            <em>The Citrus Network</em>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home_url'%}"><button><em class="lemon"></em>Home</button></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'view_public_posts'%}"><button><em class="lime"></em>Public Posts</button></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'friends_url' %}"><button><em class="friends"></em>Friends</button></a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'followers_url' %}"><button><em class="followers"></em>Followers</button></a>
                </li>

                <li class = "nav-item active">
                    <a class = "nav-link" href = "{% url 'findfriends_url' %}"><button><em class = "find-friends"></em>Find Friends</button></a>
                </li>

                <li class = "nav-item active">
                    <a class = "nav-link" href = "{% url 'inbox_redirect' %}"><button><em class = "inbox"></em>Inbox</button></a>
                </li>
            </ul>
            <ul class="navbar-nav flex-row col-md-1">
                <li class="nav-item dropdown-container">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="buton" aria-expanded="false"><em class="profile-icon"></em></a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/logout">Sign Out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>