div.container{
    margin-top: 2em;
}
a.card-link {
    color: inherit;
    text-decoration: inherit;
}
button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #da2222;
    border-color:#830f0f; 
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: large;
}
button:hover{
    box-shadow: 0 2px 4px 0 rgba(65, 64, 64, 0.24), 0 4px 8px 0 rgba(65,64,64,0.24);
    border-radius: 2px;
}
.card-header{
    font-size: x-large;
}