body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5782726ab8a79b369b372956/1500927979937-EVPO0T3ZISCM3H5MFWV1/ke17ZwdGBToddI8pDm48kLnfZvQ9iwxKU6eubAUQjId7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Uf479GMBNBfhHsrrjiU7oVFJ8_wlwITqu6jJqO9L0NwOoT__5iE7svB1u_pQDzoSaA/waffle+factory+webster+ny+oranges.jpg?format=2500w');
    background-attachment: fixed;
    background-size: 100% 100%;
}
.icon-lime {
    background-image: url('https://pics.freeicons.io/uploads/icons/png/11346849841536062027-512.png');
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}
.icon-pineapple {
    background-image: url('https://pics.freeicons.io/uploads/icons/png/1670416811536062038-512.png');
    background-size: cover;
    display: inline-block;
    height: 15px;
    width: 15px;
}