a.card-link {
    color: inherit;
    text-decoration: inherit;
}
p.github-activity{
    font-size: x-small;
}
div.header-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
div.button-nav{
    margin-top: 3em;
    margin-bottom:1em ;
}
.nav-link{
    width: 100%;
}
#post-button{
    background-color: #1fb141;
    border-color: rgb(7, 128, 7) ;
}
#github-button{
    background-color: #1e88e5;
    border-color: #6789be;
}
.header-buttons .nav-button{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-width: 3px;
    font-size: large;
}
.header-buttons .nav-button:hover{
   
    box-shadow: 0 2px 4px 0 rgba(65, 64, 64, 0.24), 0 4px 8px 0 rgba(65,64,64,0.24);
    border-radius: 5px;
}