<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Edit</title>
</head>
<body>
    <h1>Editing Profile:</h1>

    <form action="{% url 'edit' user.id %}" method="post">
        {% csrf_token %}
        <fieldset class="edit-profile-form">
            <label for="username">Username: </label>
            {{form.username}} <br>
            <label for="displayName">Display Name: </label>
            {{form.displayName}} <br>
            <label for="github">Github: </label>
            {{form.github}} <br>
        </fieldset>
        <div class="edit-profile-form">
            <button type="submit">Edit</button>
        </div>
        <div class="edit-profile-form">
            <button type="submit">Cancel</button>
        </div>
    </form>
</body>


</html>

