<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Citrus Network</title>
  </head>
  <body>
    {% include '../navbar-logged-in.html' %}
    {% load crispy_forms_tags %}
    <div class="container pt-5">
        <h1>Make a Post</h1>
        <div class="form-group">
            <form action="{% url 'manage_post' uuid %}" method="post">
                {% csrf_token %}
                <div class="row justify-content-center mt-5 mb-2">
                    <div class="col-md-6 col-sm-12 col-10">
                        {{form.title|as_crispy_field}}
                    </div>
                    <div class="col-md-2 col-sm-6 col-4">
                        {{form.visibility|as_crispy_field}}
                    </div>
                    <div class="col-md-4 col-sm-6 col-4">
                        {{form.contentType|as_crispy_field}}
                    </div>
                </div>
                <div class="row justify-content-center mb-2">
                    {{form.description|as_crispy_field}}
                </div>
                <div class="row justify-content-center mb-2">
                    {{form.content|as_crispy_field}}
                </div>
                <div class="row mt-1 mb-2">
                    <div class="col-md-4">
                        <div id="categories" hidden="true"> 
                            {{form.categories|as_crispy_field}}
                        </div>
                        <button type="button" class="btn btn-outline-primary" onClick="hideCategory()">
                            <span class="material-icons">
                                add_circle_outline
                            </span>
                            Category
                        </button>
                    </div>
                </div>
                <div class="row mt-4 mb-2">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-outline-primary" disabled>
                            <span class="material-icons">
                                insert_photo
                            </span>
                            Add Image
                        </button>
                    </div>
                </div>
                <div class="row mt-4 mb-5" hidden="true">
                    <div class="col-md-4">
                        {{form.shared_with|as_crispy_field}}
                    </div>
                </div>
                <div class="row justify-content-center mt-4 mb-2">
                    <div class="col-md-2 col-4">
                        <a href="{% url 'home_url'%}">
                            <button type="button" class="btn btn-outline-danger">Cancel</button>
                        </a>
                    </div>
                    <div class="col-md-2 col-4">
                        <input type="submit" value="Submit" class="btn btn-outline-success"></input>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script>
        function hideCategory() {
            var view = $("#categories");
            if (view.is(":visible")){
                view.attr('hidden', 'true');
            }else {
                view.removeAttr('hidden');
            }
        }
    </script>
    <!-- <script>
        window.onload = getFriends;
        /**
         * Get the JSON response from given url.
        **/
        function fetchJSON(url) {
            var request = new Request(url);
            return fetch(request).then((response) => {
                if (response.status === 200 || response.status == 404) { 
                    return response.json(); // return a Promise
                } else {
                    alert("Something went wrong: " + response.status);
                }});
        }

        /**
         * Function that gets all friends a user has.
        **/
        function getFriends() {
            var uuid = "{{uuid}}";
            var pre_url = "/service/author/"
            var url = pre_url + uuid + "/friends/" 
            fetchJSON(url).then((json) => { //another callback
                try{
                    //https://www.geeksforgeeks.org/how-to-combine-multiple-elements-and-append-the-result-into-a-div-using-javascript/
                    for (var i = 0; i < json.items.length; i++) { 
                        // console.log(json.items[i].displayName)
                        // console.log(json.items[i].id)
                        $("#friends-select")
                        .append('<option value="'+ json.items[i].id +'">' + json.items[i].displayName + '</option>');
                        } 
                    }catch(err){
                        // console.log(uuid)
                        $("#friends-select") 
                        .append('<option value="public">Public</option>');
                    }
                });
        }
    </script> -->
  </body>
</html>
<style>
    a.card-link {
        color: inherit;
        text-decoration: inherit;
    }
</style>