<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Profile Page</h1>
    <p> Username: {{ user.username }}</p>
    <p> Display Name: {{ user.displayName }}</p>
    <p> Github: {{ user.github  }}</p>
    <!-- redirect to the edit page -->
    <form method="post">
        {% csrf_token %}
        <button onclick="submit">Edit</button>
    </form>
</body>


</html>

