<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Citrus Network</title>
  </head>
  <body>
    {% include '../navbar-logged-in.html' %}
    <div class="container">
        <div class="row mt-5 justify-content-end">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-3">
                <a class="nav-link" href="{% url 'make_post_url'%}">
                    <button type="button" class="btn btn-success">Post</button>
                </a>
            </div>
        </div>
        {% for post in json_list %}
            <div class="row justify-content-center mt-1 mb-1">
                <div class="col-md-10 col-sm-12 position-relative">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" href="#author">
                                <img class="round-circle author-img" height="30" width="30" style="border-radius: 50%;" src="https://avatars.dicebear.com/v2/initials/{{ post.author.displayName }}.svg"/>
                            </a>
                            <a class="card-link" href="#author">
                                <p style="margin: 0;"><strong>{{ post.author.displayName }}</strong></p>
                                <p style="margin: 0;">{{ post.published }} | {{ post.origin }}</p>
                            </a>
                            {% for tag in post.categories %}
                                <a class="btn mt-1 btn-sm btn-outline-info rounded-pill" href="#tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <a class="card-body card-link" href="{% url 'view_post_url' %}">
                                <h6 class="font-weight-bold">{{ post.title }}</h6>
                                <img class="post-img" height="300px" width="300px" src="https://avatars.dicebear.com/v2/avataaars/{{ post.origin }}.svg"/>
                                <p>{{ post.content }}</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>
<style>
    a.card-link {
        color: inherit;
        text-decoration: inherit;
    }
</style>