<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Citrus Network</title>
  </head>
  <body>
    {% include '../navbar-logged-in.html' %}
    <div class="container">

        <!--buttons
        <div class="row mt-5 justify-content-end">
            <div class="col-xl-1 col-lg-1 col-md-1 col-sm-2 col-3">
                <a class="nav-link" href="{% url 'make_post_url'%}">
                    <button type="button" class="btn btn-success">Post</button>
                </a>
                <button type="button" class="btn btn-success" onclick="getGithubActivity();">GitHub</button>
            </div>
        </div>-->
        <div class="row justify-content-center mt-1 mb-1">
            <div class="col-md-10 col-sm-12 position-relative">
                <div class="button-nav">
                    <div class = "header-buttons">
                        <a  class=  "nav-link" href="{% url 'make_post_url'%}"><button id = "post-button" type="button" class="nav-button">Post</button></a>
                        <a class = "nav-link"><button id = "github-button" type="button" class="nav-button" onclick="getGithubActivity();">GitHub Activity</button></a>
                    </div>
                </div>
            </div>
        </div>

        <!--conditionally display github activity-->
        <div class="row justify-content-center mt-1 mb-1" id = 'githubActivity' style="display:none;">
            <div class="col-md-10 col-sm-12 position-relative">
                <div class="card">
                        <div class="card-header" id = "github-header">
                            <img class="round-circle author-img" height="40" width="40" style="border-radius: 50%;" src="https://pics.freeicons.io/uploads/icons/png/9484177861548141924-512.png"/>
                            <a style="margin: 0" id = "gitHubName" href = "#"></a>
                        </div>
                        <div>
                            <div class="card-body card-link">
                                <p style="margin: 0" id = "githubBody" class ="github-activity"></p>
                                <a id = "profileref" href = "{% url 'profile' %}" style="display:none;" >Check your GitHub in your profile</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
     
        {% for post in json_list %}
            <div class="row justify-content-center mt-1 mb-1">
                <div class="col-md-10 col-sm-12 position-relative">
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" href="#author">
                                <img class="round-circle author-img" height="30" width="30" style="border-radius: 50%;" src="https://avatars.dicebear.com/v2/initials/{{ post.author.displayName }}.svg"/>
                            </a>
                            <a class="card-link" href="#author">
                                <p style="margin: 0;"><strong>test</strong></p>
                                <p style="margin: 0;">{{ post.published }} | {{ post.origin }}</p>
                            </a>
                            {% for tag in post.categories %}
                                <a class="btn mt-1 btn-sm btn-outline-info rounded-pill" href="#tag">{{ tag }}</a>
                            {% endfor %}
                        </div>
                        <a class="card-body card-link" href="{% url 'view_post_url' %}">
                                <h6 class="font-weight-bold">{{ post.title }}</h6>
                                <img class="post-img" height="300px" width="300px" src="https://avatars.dicebear.com/v2/avataaars/{{ post.origin }}.svg"/>
                                <p>{{ post.content }}</p>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
    </script>
    <script>
        function fetchJSON(url) {
            var request = new Request(url);
            return fetch(request).then((response) => {
                if (response.status === 200 || response.status === 404) { // OK
                    return response.json(); // return a Promise
                } else {
                    alert("Something went wrong: " + response.status);
                }});
            }
            
        function getGithubActivity() {
            var uuid = "{{uuid}}";
            var pre_url = "http://localhost:8000/service/author/" //NEED CONFIGURATION
            var url = pre_url + uuid + "/github" // :service/author/{AUTHOR_ID}
            fetchJSON(url).then((json) => { // another callback
                document.querySelector('#githubActivity').style.display = "flex";
                try{
                    document.querySelector("#gitHubName").innerText = new String ("GitHub Activity for "+json.events[0].name)
                    document.querySelector("#github-header").style.background = "#e6d0a0";
                    document.querySelector("#gitHubName").href = new String("https://github.com/"+json.events[0].name)
                    for (var i in json.events) {
                        var event = formatEvent(json.events[i]);
                        $('#githubBody').append(event + "<br/><br/>");
                    }
                }catch(err){
                    document.querySelector("#github-header").style.background = "#62afdd";
                    document.querySelector("#githubBody").innerText = "Cannot get GitHub activity";
                    document.querySelector("#profileref").style.display = "flex";
                }
            });
        }

        function formatEvent(event){
            var formattedEvent = new String("<strong>"+"Type: "+"</strong>"+event["type"]+
                                            "<strong>"+"   Action: "+"</strong>"+event["action"]+
                                            "<strong>"+"    Repo: "+"</strong>"+event["repo"]+
                                            "<strong>"+"    Time: "+"</strong>"+event["time"]);
            return formattedEvent
        }
    </script>
  </body>
</html>
<style>
    a.card-link {
        color: inherit;
        text-decoration: inherit;
    }
    p.github-activity{
        font-size: x-small;
    }
    div.header-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    div.button-nav{
        margin-top: 3em;
        margin-bottom:1em ;
    }
    a.nav-link{
        width: 100%;
    }
    #post-button{
        background-color:transparent;
        border-color: rgb(7, 128, 7) ;
    }
    #github-button{
        background-color: transparent;
        border-color: #6789be;
    }
    .header-buttons .nav-button{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(34, 32, 32);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border-width: 3px;
        font-size: large;
    }
    .header-buttons .nav-button:hover{
       
        box-shadow: 0 2px 4px 0 rgba(65, 64, 64, 0.24), 0 4px 8px 0 rgba(65,64,64,0.24);
        border-radius: 5px;
    }
    
    
</style>