<!-- This document will be the template if we don't want to split edit profile from view profile. -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>Citrus Network</title>
    </head>

    <body>
    {% include "navbar-logged-in.html" %}
        <div class="container mt-5">
            <!-- Allow user to edit post only if they are the author -->
            {% if uuid|stringformat:"s" == author_id|stringformat:"s" %}
            {% load crispy_forms_tags %}
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Post</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="row justify-content-center">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                {{form.title|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                {{form.visibility|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                {{form.contentType|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                {{form.description|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                {{form.content|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                <div id="categories" hidden="true"> 
                                                    {{form.categories|as_crispy_field}}
                                                </div>
                                                <button type="button" class="btn btn-outline-primary" onClick="hideCategory()">
                                                    <span class="material-icons">
                                                        add_circle_outline
                                                    </span>
                                                    Category
                                                </button>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3" hidden="true">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                {{form.shared_with|as_crispy_field}}
                                            </div>
                                        </div>
                                        <div class="row justify-content-center mt-3 mb-5">
                                            <div class="col-md-12 col-sm-12 col-10">
                                                <!-- <button type="button" class="btn btn-outline-primary" disabled>
                                                    <span class="material-icons">
                                                        insert_photo
                                                    </span>
                                                    Add Image
                                                </button> -->
                                                <input type="file" name="image" accept="image/*" id="id_image" class="btn btn-outline-primary" hidden="true">
                                                </input>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                                            <input type="submit" value="Submit" class="btn btn-outline-success"></input>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-1">
                    <div class="col-md-10 col-sm-12 position-relative">
                        <div class="button-nav">
                            <div class = "header-buttons">
                                <a  class=  "nav-link"><button id = "post-button" type="button" class="nav-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button></a>
                                <a  class=  "nav-link"><button id = "delete-button" type="button" class="nav-button" onClick="deletePost()">Delete</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="row justify-content-center mt-4 mb-1">
                <div class="col-md-10 col-sm-12 position-relative">
                    <div class="card mb-5">
                        <div class="card-header">
                            <a class="card-link" href="{% url 'render_profile' %}{{ author_id }}">
                                <p style="margin: 0;" class="author-name"><strong></strong></p>
                                <p style="margin: 0;" class="published"></p>
                            </a>
                            <div class="post-tag">
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="font-weight-bold post-title"></h6>
                            <p class="post-content"></p>
                            <!-- Like API not yet implemented -->
                            <!-- <button type="button" class="ml-3 btn btn-light btn-lg rounded-pill">
                                <em class="bi-hand-thumbs-up-fill" style="color: cornflowerblue;"></em>
                            </button>
                            <button type="button" class="ml-3 btn btn-light btn-lg rounded-pill">
                                <em class="bi-hand-thumbs-up-fill"></em>
                            </button> -->
                            <br>
                            <div class="card-body">
                            <form class="needs-validation" novalidate>
                                <label class="mt-4" for="comment">Post a Comment</label>
                                <textarea rows="3" class="form-control" id="comment" placeholder="Comment" style="height:100%;" required></textarea>
                                <div class="invalid-feedback">
                                    Cannot post a blank comment.
                                </div>
                                <button class="btn btn-primary btn-sm mt-3 ml-3" type="submit">Post</button>
                            </form>
                            </div>
                            <div class="comments"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                            form.classList.add('was-validated');
                        } else {
                            form.classList.remove('was-validated');
                            var comment = {
                                comment: $("#comment").val()
                            }
                            $.ajax({
                                url: "/service/author/{{author_id}}/view-post/{{post_id}}/comment/",
                                type: "POST",
                                dataType: 'json',
                                contentType: "application/json",
                                data: JSON.stringify(comment),
                                success: function(data) {
                                    $.ajax({
                                        url: "/service/author/{{author_id}}/view-post/{{post_id}}/comment/",
                                        type: "GET",
                                        dataType: 'json',
                                        success: function(data) {
                                            var commentHtml = ""
                                            for (var i in data.comments) {
                                                commentHtml += '<div class="card mt-1 mb-1"><div class="card-header"><a class="card-link" href="#commentauthor">' + 
                                                '<p style="margin: 0;"><strong>' + data.comments[i].author.displayName + '</strong> | ' + data.comments[i].published + 
                                                '</p></a></div><div class="card-body"><p>' + data.comments[i].comment + '</p>' + 

                                                // Like buttons not yet implemented due to no like API
                                                // '<button type="button" class="ml-3 btn btn-light btn-sm rounded-pill">' + 
                                                // '<em class="bi-hand-thumbs-up-fill" style="color: cornflowerblue;"></em></button>' + 
                                                // '<button type="button" class="ml-3 btn btn-light btn-sm rounded-pill">' + 
                                                // '<em class="bi-hand-thumbs-up-fill"></em></button>' + 
                                                '</div></div>';
                                            }
                                            $('.comments').html(commentHtml);
                                        }
                                    });
                                }
                            });
                            event.preventDefault();
                            event.stopPropagation();
                            $("#comment").val("");
                        }
                    }, false);
                });

                $.ajax({
                    url: "/service/author/{{author_id}}/get-posts/{{post_id}}/",
                    type: "GET",
                    dataType: 'json',
                    success: function(post) {
                        console.log(post);
                        $('.author-name').html(post.author.displayName)
                        $('.published').html(post.published)
                        var tagHtml = ''; 
                        for (var i in post.categories) {
                            tagHtml +=  '<a class="btn mt-1 btn-sm btn-outline-info rounded-pill" href="#tag">' + 
                            post.categories[i] + '</a>';
                        }
                        $('.post-tag').html(tagHtml);
                        $('.post-title').html(post.title);
                        if (post.contentType === 'text/markdown'){
                            $('.post-content').html(marked(post.content));
                        } else if (post.contentType === "image/png;base64" || post.contentType === "image/jpeg;base64"){
                            $('.post-content').html('<img src=\"' + post.content + '\"/>');
                        } else {
                            let lines = post.content.split("\n")
                            for (var i of lines) {
                                $('.post-content').append(i + '<br>');
                            }
                        }
                        for (var i in post.comments) {
                            var commentHtml = '<div class="card mt-1 mb-1"><div class="card-header"><a class="card-link" href="#commentauthor">' + 
                                '<p style="margin: 0;"><strong>' + post.comments[i].author.displayName + '</strong> | ' + post.comments[i].published + 
                                '</p></a></div><div class="card-body"><p>' + post.comments[i].comment + '</p>' + 

                                // Like buttons not yet implemented due to no like API
                                // '<button type="button" class="ml-3 btn btn-light btn-sm rounded-pill">' + 
                                // '<em class="bi-hand-thumbs-up-fill" style="color: cornflowerblue;"></em></button>' + 
                                // '<button type="button" class="ml-3 btn btn-light btn-sm rounded-pill">' + 
                                // '<em class="bi-hand-thumbs-up-fill"></em></button>' + 
                                '</div></div>';
                            $('.comments').append(commentHtml);
                        }
                    },
                    error: function() {
                        window.location.replace('/home')
                    }
                });
            }, false);
        })();
    </script>
    <!-- Allow user to edit post only if they are the author -->
    {% if uuid|stringformat:"s" == author_id|stringformat:"s" %}
        <script>
            window.addEventListener('load', function() {
                if ($("#id_contentType").val() == "image/jpeg;base64" || $("#id_contentType").val() == "image/png;base64"){
                    let content = $("#div_id_content");
                    content.parent().hide();
                    let img = $("#id_image");
                    img.removeAttr('hidden');
                }
            });
            //Function that will hide category input, depending on if users choses to add categories.
            function hideCategory() {
                var view = $("#categories");
                if (view.is(":visible")){
                    view.attr('hidden', 'true');
                }else {
                    view.removeAttr('hidden');
                }
            }
            $("#id_contentType").change(function(){
                if ($("#id_contentType").val() == "image/jpeg;base64" || $("#id_contentType").val() == "image/png;base64"){
                    let content = $("#div_id_content");
                    content.parent().hide();
                    let img = $("#id_image");
                    img.removeAttr('hidden');
                } else {
                    let content = $("#div_id_content");
                    content.parent().show();
                    let img = $("#id_image");
                    img.attr('hidden', 'true');
                }
            });
            document.getElementById('id_image').addEventListener("change", function() {
                var files = document.getElementById('id_image').files;
                if (files.length > 0) {
                    getBase64(files[0]);
                }
            });
            function getBase64(file) {
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                    let postContent = $("#id_content");
                    postContent.val(reader.result);
                };
                reader.onerror = function (error) {
                    console.log('Error: ', error);
                };
            }

            //Get the JSON response from given url.
            function fetchJSON(url) {
                var request = new Request(url);
                return fetch(request).then((response) => {
                    if (response.status === 200 || response.status == 404) { 
                        return response.json(); // return a Promise
                    } else {
                        alert("Something went wrong: " + response.status);
                    }});
            }

            //Update an existing post by sending a PUT request.
            function updatePost() {
                var uuid = "{{ uuid }}";
                var pre_url = "/service/author/";
                var url = pre_url + uuid + "/posts/";
                url += "{{ post_id }}/";
                var title = document.getElementById("title-name").value;
                var content = document.getElementById("post-textarea").value;
                if (title === ""){
                    alert("Don't submit an empty post");
                    return false;
                }
                var visibility = document.getElementById("post-visibility").value;
                var markdown;
                if(document.getElementById('btnradio1').checked){
                    markdown = document.getElementById('btnradio1').value;
                }
                if(document.getElementById('btnradio2').checked){
                    markdown = document.getElementById('btnradio2').value;
                }
                markdown = "false";
                var shared = document.getElementById("friends-select").value;
                var categories_field = $("#categories");
                var categories;
                if (categories_field.is(":hidden")){
                    categories = "";
                } else {
                    categories = document.getElementById('categories').value;
                }

                var mJson = {
                        title: title,
                        description: "mock desc",
                        categories: categories,
                        content: content,
                        origin: window.location.origin,
                        visibility: visibility,
                        shared_with: shared,
                };
                $.ajax({
                    type: 'PUT',
                    url: url,
                    dataType: "json",
                    contentType: "application/json",
                    data: JSON.stringify(mJson),
                    success: function(result) {
                        location.reload();
                    }
                });
            }
            
            //Delete a post and all it's associated comments.
            function deletePost() {
                var uuid = "{{ uuid }}";
                var pre_url = "/service/author/";
                var url = pre_url + uuid + "/posts/";
                url += "{{ post_id }}/";
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    contentType: "application/json",
                    success: function(result) {
                        window.location.href = "{% url 'home_url'%}"
                    }
                });
            }
        </script>
    {% endif %}
</html>
<style>
     a.card-link {
        color: inherit;
        text-decoration: inherit;
    }
    a.nav-link{
        width: 100%;
    }
    #post-button{
        background-color:transparent;
        border-color: rgb(7, 128, 7) ;
    }
    #delete-button{
        background-color:transparent;
        border-color: red ;
    }
    .header-buttons .nav-button{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(34, 32, 32);
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border-width: 3px;
        font-size: large;
    }
    .header-buttons .nav-button:hover{
        box-shadow: 0 2px 4px 0 rgba(65, 64, 64, 0.24), 0 4px 8px 0 rgba(65,64,64,0.24);
        border-radius: 5px;
    }
    div.header-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
</style>