<!-- This document is acting as a template if we want to split edit profile and view profile. -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Profile</title>
</head>
<body>
    {% include "navbar.html" %}
    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-sm-1 align-self-end">
                <div class="btn btn-danger mr-5 mt-5 edit-btn">Edit</div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class = "card mt-5 mb-5 view-profile">
                <div class="card-header">
                    <h3 class="ml-1 mt-1">Profile Information</h3>
                </div>
                <img class="card-img" src="https://image.freepik.com/free-photo/lemon_1205-1667.jpg" alt="">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="font-weight-bold">Username</div>
                            {{ user.user }}
                        </li>
                        <li class="list-group-item">
                            <div class="font-weight-bold">Display Name</div>
                            {{ user.displayName }}
                        </li>
                        <li class="list-group-item">
                            <div class="font-weight-bold">Github</div>
                            {{ user.github  }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



